html,body
{
  margin: 0;
  padding: 0;
}

#containerMenu
{
  width: 30%;
  margin: 0 auto;
}

#menu
{
  list-style-type: none;
  margin: 0 auto;
}

.vMenu
{
  float: left;
  margin-right: 0.08em;
  font-size: 1.3em;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  box-shadow: 0em 0.2em #417144;
}


.vMenu a
{
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #fff;
  background-color: #38b140;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
}

.vMenu a:hover
{
  padding-bottom: 1.8em;
}

#active
{
  float: left;
  margin-right: 0.08em;
  font-size: 1.3em;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  padding: 1em 1em 1.8em 1em;
  color: #fff;
  background-color: #ea5f5f;
  box-shadow: 0em 0.2em #981212;
}
