* {
  margin: 0em;
  padding: 0em;
}

@font-face {
    font-family: primaryFont;
    src: url("../font/Roboto.ttf");
}

html, body {
  font-family: primaryFont;
}

.hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 768px) {

	body {
		background: #ffffff url("../image/bckg.png");
	}

  header {
    margin-bottom: 2em;
  }

  nav {
    overflow: hidden;
    background-color: rgb(255, 58, 58);
    position: fixed;
    top: 0;
    width: 100%;
  }

  nav ul {
    list-style-type: none;
  }

  nav li {
    float: left;
  }

  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
  }

  .here {
    display: block;
    color: white;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
  }

  nav li a:hover {
    background-color: #111111;
  }

  /*#logo {
    background-image: url("../image/logoFinale.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    height: 5em;
    margin: 1.4em auto 0 auto;
    background-color: rgb(163, 163, 163);
  }*/

  header h2 {
    padding: 0.5em 0em;
    text-align: center;
    background-color: rgb(255, 58, 58);
  }

  #containerBlocksTitle {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }

  .blockLogo {
    float: left;
    width: 15%;
    text-align: center;
    background-color: rgb(255, 58, 58);
    border-radius: 1em 0 0 1em;
    height: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .blockTitle {
    width: 85%;
    margin-left: 15%;
    text-align: center;
    height: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(221, 221, 221);
    border-radius: 0 1em 0 0;
    border-right: 0.2em solid rgb(221, 221, 221);
  }

  .blockTitle p{
    font-size: 100%;
    font-weight: normal;
    background-color: inherit;
  }

  .blockDescription {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 15%;
    width: 85%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 0.2em solid rgb(149, 149, 149);
    border-radius: 0 0 1em 1em;
    background-color: rgb(221, 221, 221);
  }

  .blockDescription p{
    font-size: 100%;
    font-weight: normal;
    background-color: inherit;
  }

  #logoWhat {
    background-image: url("../image/what.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #logoHow {
    background-image: url("../image/how.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #logoWho {
    background-image: url("../image/who.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #titleWhat {

  }

  #titleHow {

  }

  #descriptionHow {
    margin-bottom: 1em;
  }

  .mobileMenu {
    display: none;
  }

  #logoMenu {
    width: 100%;
		height: 5em;
    background-image: url("../image/logoFinale.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
		margin: 1.4em auto 0 auto;
		background-color: rgb(163, 163, 163);
  }

  p {
    margin-top: 1em;
    margin-left: 20%;
    width: 60%;
    text-align: center;
    background-color: #676767;
    font-size: 140%;
  }

  p a {
    color: white;
    font-weight: bold;
  }

  #user_login, #user_registration {
    width: 30%;
    text-align: center;
    margin-top: 3%;
    margin-left: 35%;
    margin-top: 2em;
  }

  #user_login fieldset, #user_registration fieldset {
    border-color: #8b0000;
    border-radius: 0.3em;
    border: 0.5em solid #8b0000;
    background-color: #676767;
    margin-bottom: 4em;
  }

  #user_login legend, #user_registration legend {
    display: none;
  }

  #user_login label {
    display: block;
    margin-top: 3em;
    color: white;
    font-weight: bold;
  }

  #user_login input[type="text"], #user_registration input[type="text"] {
    padding: 0.5em;
    width: 50%;
    border-radius: 0.3em;
    border: 0.1em solid black;
  }

  #user_login input[type="password"], #user_registration input[type="password"] {
    padding: 0.5em;
    width: 50%;
    border-radius: 0.3em;
    border: 0.1em solid black;
  }

  #user_login input[type="submit"], #user_registration input[type="submit"] {
    display: block;
    width: 55%;
    padding: 0.7em;
    margin-top: 5em;
    margin-left: 22.5%;
    margin-bottom: 5em;
    background-color: #8b0000;
    color: white;
    font-weight: bold;
    border: 0.1em solid white;
    border-radius: 0.3em;
    text-transform: uppercase;
  }

  #user_registration label {
    display: block;
    margin-top: 1em;
    color: white;
    font-weight: bold;
  }

  #user_registration input[type="submit"] {
    display: block;
    width: 55%;
    padding: 0.7em;
    margin-top: 3em;
    margin-left: 22.5%;
    margin-bottom: 2em;
    background-color: #8b0000;
    color: white;
    font-weight: bold;
    border: 0.1em solid white;
    border-radius: 0.3em;
    text-transform: uppercase;
  }

  h2 {
    text-align: center;
    color: white;
    margin-bottom: 1em;
  }

  #prova {
    float: left;
    background-color: white;
    border: 0.2em solid red;
    border-radius: 0.5em;
    position: fixed;
    width: 18%;
    margin-top: 3em;
  }

  #prova a {
    display: block;
    padding: 0.5em 0 0.5em 10%;
    border-bottom: 0.2em solid red;
  }

  #search {
    margin: 0.5em 0 0 10%;
    width: 80%;
  }

  #checkColumnUC legend {
    text-align: center;
    padding: 0.3em;
    font-weight: bold;
  }

  #checkColumnUC fieldset {
    border-style: none;
  }

  #checkColumnUC label {
    display: block;
    padding: 0.2em;
    margin-left: 10%;
  }

  #checkColumnUC input[type="submit"] {
    margin: 1.5em 0 1.5em 10%;
    width: 80%;
    background-color: red;
    padding: 0.3em;
    text-transform: uppercase;
  }

  #tableUC {
    display: block;
    margin-left: 19%;
    margin-right: 1%;
    background-color: white;
    border: 0.1em solid black;
    border-collapse: collapse
  }

  #tableUC th {
    border: 0.1em solid black;
    padding: 0.5em 0.5em;
    background-color: blue;
  }

  #tableUC td {
    border: 0.1em solid black;
    padding: 0.1em 0.1em;
  }

  #modifyUC
  {
    background-image: url("../image/edit.png");
    background-size: 15%;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
  }

  #deleteUC
  {
    background-image: url("../image/delete.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
