html, body
{
  margin: 0;
  padding: 0;
}

#logo
{
  text-align: center;
  background-color: grey;
  margin: 0 auto;
}

#logo img
{
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#containerBlocksTitle
{
  width: 70%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  border: 2px red solid;
}

.blockTitle
{
  width: 25%;
  float: left;
  padding: 1em;
  border: 1px solid black;
}

#titleWhat
{
  margin-right: 8.3%;
}

#titleHow
{
  margin-right: 8.3%;
}

#containersDescription
{
  border: 2px red solid;
  clear:both;
  margin: 0 auto;
  width: 70%;
}
