* {
  margin: 0em;
  padding: 0em;
}

@font-face {
    font-family: primaryFont;
    src: url("../font/Roboto.ttf");
}

html, body {
  font-family: primaryFont;
}

.hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 769px) {

	body {

	}

  header {
    margin-bottom: 2em;
  }

  nav {
    overflow: hidden;
    background-color: rgb(255, 58, 58);
    position: fixed;
    top: 0;
    width: 100%;
  }

  nav ul {
    list-style-type: none;
  }

  nav li {
    float: left;
  }

  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
  }

  .here {
    display: block;
    color: white;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
  }

  nav li a:hover {
    background-color: #111111;
  }

  #logo {
    background-image: url("../image/logoFinale.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    height: 5em;
    margin: 1.4em auto 0 auto;
    background-color: rgb(163, 163, 163);
  }

  header h2 {
    padding: 0.5em 0em;
    text-align: center;
    background-color: rgb(255, 58, 58);
  }

  #containerBlocksTitle {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }

  .blockLogo {
    float: left;
    width: 15%;
    text-align: center;
    background-color: rgb(255, 58, 58);
    border-radius: 1em 0 0 1em;
    height: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .blockTitle {
    width: 85%;
    margin-left: 15%;
    text-align: center;
    height: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(221, 221, 221);
    border-radius: 0 1em 0 0;
    border-right: 0.2em solid rgb(221, 221, 221);
  }

  .blockTitle p{
    font-size: 100%;
    font-weight: normal;
    background-color: inherit;
  }

  .blockDescription {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 15%;
    width: 85%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 0.2em solid rgb(149, 149, 149);
    border-radius: 0 0 1em 1em;
    background-color: rgb(221, 221, 221);
  }

  .blockDescription p{
    font-size: 100%;
    font-weight: normal;
    background-color: inherit;
  }

  #logoWhat {
    background-image: url("../image/what.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #logoHow {
    background-image: url("../image/how.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #logoWho {
    background-image: url("../image/who.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #titleWhat {

  }

  #titleHow {

  }

  #descriptionHow {
    margin-bottom: 1em;
  }

  .mobileMenu {
    display: none;
  }

  #logoMenu {
    width: 100%;
		height: 5em;
    background-image: url("../image/logoFinale.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
		margin: 1.4em auto 0 auto;
		background-color: rgb(163, 163, 163);
  }

  .login_p {
    margin-top: 1em;
    margin-left: 20%;
    width: 60%;
    text-align: center;
    background-color: #676767;
    font-size: 140%;
  }

  .login_p a {
    color: white;
    font-weight: bold;
  }

  #user_login, #user_registration {
    width: 30%;
    text-align: center;
    margin-top: 3%;
    margin-left: 35%;
    margin-top: 2em;
  }

  #user_login fieldset, #user_registration fieldset {
    border-color: #8b0000;
    border-radius: 0.3em;
    border: 0.5em solid #8b0000;
    background-color: #676767;
    margin-bottom: 4em;
  }

  #user_login legend, #user_registration legend {
    display: none;
  }

  #user_login label {
    display: block;
    margin-top: 3em;
    color: white;
    font-weight: bold;
  }

  #user_login input[type="text"], #user_registration input[type="text"] {
    padding: 0.5em;
    width: 50%;
    border-radius: 0.3em;
    border: 0.1em solid black;
  }

  #user_login input[type="password"], #user_registration input[type="password"] {
    padding: 0.5em;
    width: 50%;
    border-radius: 0.3em;
    border: 0.1em solid black;
  }

  #user_login input[type="submit"], #user_registration input[type="submit"] {
    display: block;
    width: 55%;
    padding: 0.7em;
    margin-top: 5em;
    margin-left: 22.5%;
    margin-bottom: 5em;
    background-color: #8b0000;
    color: white;
    font-weight: bold;
    border: 0.1em solid white;
    border-radius: 0.3em;
    text-transform: uppercase;
  }

  #user_registration label {
    display: block;
    margin-top: 1em;
    color: white;
    font-weight: bold;
  }

  #user_registration input[type="submit"] {
    display: block;
    width: 55%;
    padding: 0.7em;
    margin-top: 3em;
    margin-left: 22.5%;
    margin-bottom: 2em;
    background-color: #8b0000;
    color: white;
    font-weight: bold;
    border: 0.1em solid white;
    border-radius: 0.3em;
    text-transform: uppercase;
  }

  /*Inizio CSS ViewUC*/
  #NumberUC
  {
    margin: 1em auto;
    width: 100%;
    text-align: center;
    color: #000;
    border-top: 0.01em solid #000;
    border-bottom: 0.01em solid #000;
    font-size: 3em;
    background-color: rgb(255, 230, 205);
  }

  #operazioniUC
  {
    margin: 0 auto;
    width: 20%;
    margin-bottom: 1em;
  }

  #operazioniUC button
  {
    padding: 0.4em;
    font-size: 1.3em;
    width: 48%;
    cursor: pointer;
    border: none;
    background-color: #ff9768;
    box-shadow: 0 0.13em 0.18em 0 rgba(0,0,0,0.74), 0 0.17em 0.5em 0 rgba(0,0,0,0.19);
    border: 0.01em solid #000;
  }

  #operazioniUC button:hover
  {
    background-color: #db774b;
  }

  #operazioniUC button:active
  {
    background-color: #db774b;
    box-shadow: 0 0.06em 0.09em 0 rgba(0,0,0,0.74), 0 0.08em 0.25em 0 rgba(0,0,0,0.19);

  }

  #ViewUC_modifyButt
  {
    border-radius: 0.5em 0 0 0.5em;
  }

  #ViewUC_deleteButt
  {
    border-radius: 0 0.5em 0.5em 0;
  }

  #allFeaturesUC
  {
    width: 70%;
    margin: 0 15%;
    clear: both;
  }

  .featuresUC
  {
    border: 0.05em solid black;
    clear: both;
    margin-top: 1em;
    background-color: rgb(255, 230, 205);
    font-size: 1.3em;
    border-radius: 1em 0 1em 0;
    box-shadow: 0 0.06em 0.09em 0 rgba(0,0,0,0.74), 0 0.08em 0.25em 0 rgba(0,0,0,0.19);

  }

  .featuresUC h3
  {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin: 1em auto;
    border-bottom: 0.05em solid black;
    font-size: 1.5em;
  }

  .featuresUC p
  {
    padding: 1em;
    font-size: 1.10em;
    text-align: center;
  }
  /*Fine CSS ViewUC*/

  /*Inizio CSS Actors*/

  #systemActors
  {
    text-align: center;
    margin: 1em auto;
    width: 30%;
    font-size: 2em;
  }

  #actorsList
  {
    margin: 0 auto;
    width: 80%;
    list-style-type: none;
    margin-bottom: 1em;
  }

  #actorsList li
  {
    display: inline-table;
    background: #fefabc;
    padding: 1em;
    font-size: 1.2em;
    color: #000;
    width: 45%;
    margin-right: 1em;
    margin-bottom: 1em;
    box-shadow: 0px 0.4em 0.6em #333;
  }

  #actorsList li h3
  {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 0.5em;
    border-bottom: 0.1em solid black;
  }

  #actorsList li p
  {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 0;
  }

  #insertActor
  {
    margin: 0 auto;
    width: 30%;
  }

  #insertActor fieldset
  {
    padding: 1em;
    border: 0.1em solid rgb(75, 75, 75);
  }

  #insertActor legend
  {
    float: left;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
  }

  #insertActor label, input, textarea
  {
    float: left;
    margin: 1em 0;
  }

  #insertActor label
  {
    display: block;
    line-height: 1em;
    width: 30%;
    text-align: center;
  }

  #insertActor input, textarea
  {
    border: 0.1em solid #323232;
    height: 2em;
    line-height: 2em;
    width: 60%;
    padding: 0 1em;
  }

  #insertActor textarea
  {
    height: 5em;
  }


  #insertActor input[type=submit]
  {
    clear: both;
    width: 30%;
    margin-left: 30%;
    cursor: pointer;

  }
  /*Fine CSS Actors*/

}
