@font-face {
  font-family: primaryFont;
  src: url("../font/Roboto.ttf");
}

* {
	margin: 0em;
	padding: 0em;
}

.hide {
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}

@media screen and (max-width: 768px) {

	body {
		background-image: white;
		background-image: none;
		font-family: primaryFont;
	}

	a {
		color: blue;
	}

	header {
		width: 94%;
		margin-top: 2%;
		margin-left: 3%;
	}

	#logo {
		display: block;
		float: left;
		width: 45%;
		background-image: url('../image/logoFinale.png');
		background-size: 100% 100%;
	}

	.here {
		color: darkred;
	}

	.mobileMenu {
		display: block;
		width: 10%;
		height: auto;
		border: 0.1em solid black;
		border-radius: 0.4em;
		margin-left: 88%;
		text-align: center;
		margin-top: 3%;
		margin-bottom: 11%;
	}

	.mobileMenu span {
		display: block;
		margin: 0.3em 0.5em 0.3em 0.5em;
		border: 0.1em solid black;
	}

	nav {
		display: none;
		width: 100%;
		text-align: center;
	}

	nav	ul {
		list-style-type: none;
		margin: 0 auto;
	}

	nav ul li {
		display: block;
		padding: 0.5em;
		font-size: 1em;
		font-weight: bold;
		text-align: center;
	}

	#user_login {
		width: 100%;
		text-align: center;
		margin-top: 3%;
	}

	#user_login fieldset {
		border: none;
	}

	#user_login legend {
		display: none;
	}

	#user_login label {
		display: block;
		margin-top: 3%;
	}

	#user_login input[type="text"] {
		padding: 0.5em;
		width: 60%;
	}

	#user_login input[type="password"] {
		padding: 0.5em;
		width: 60%;
	}

	#user_login input[type="submit"] {
		display: block;
		width: 64%;
		padding: 0.7em;
		margin-top: 7%;
		margin-left: 18%;
		margin-bottom: 6%;
		background-color: #8b0000;
		color: white;
		font-weight: bold;
		border: 0.1em solid white;
		border-radius: 0.3em;
		text-transform: uppercase;
	}

	p {
		margin-left: 3%;
		width: 94%;
	}

	#user_registration {
		width: 100%;
		text-align: center;
		margin-top: 3%;
	}

	#user_registration fieldset {
		border: none;
	}

	#user_registration legend {
		display: none;
	}

	#user_registration label {
		display: block;
		margin-top: 3%;
	}

	#user_registration input[type="text"] {
		padding: 0.5em;
		width: 60%;
	}

	#user_registration input[type="password"] {
		padding: 0.5em;
		width: 60%;
	}

	#user_registration input[type="submit"] {
		display: block;
		width: 64%;
		padding: 0.7em;
		margin-top: 7%;
		margin-left: 18%;
		margin-bottom: 6%;
		background-color: #8b0000;
		color: white;
		font-weight: bold;
		border: 0.1em solid white;
		border-radius: 0.3em;
		text-transform: uppercase;
	}
}
