* {
	margin: 0em;
	padding: 0em;
}

@media screen and (max-width: 1024px) {
	
	header {
		width: 94%;
		margin-top: 2%;
		margin-left: 3%;
	}
	
	h1 {
		display: block;
		float: left;
	}
	
	.mobileMenu {
		display: block;
		width: 10%;
		height: auto;
		border: 0.1em solid black;
		border-radius: 0.4em;
		margin-left: 88%;
		text-align: center;
	}
	
	.mobileMenu span {
		display: block;
		margin: 0.3em 0.5em 0.3em 0.5em;
		border: 0.1em solid black;
	}
	
	nav {
		width: 100%;
		text-align: center;
	}

	nav	ul {
		list-style-type: none;
		margin: 0 auto;
	}

	nav ul li {
		display: block;
		padding: 0.5em;
		font-size: 1.2em;
		font-weight: bold;
		text-align: center;
	}
	
}